<!DOCTYPE html>
<html lang="en">

<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="skripta.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" type="text/css" href="pages.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/dt/b-1.6.5/b-html5-1.6.5/datatables.min.css" />
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/b-1.6.5/b-html5-1.6.5/datatables.min.js"></script>
  <title>FIFA WorldCups</title>
</head>

<body>
  <div id="content">
    <img src="fifa.jpg" class="img2" />
  </div>
  <a href="\"><button class="previous">Back to homepage</button> </a>
  <h1 class="a">FIFA WorldCups Datatable</h1>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <table id="worldcups-table" class="display nowrap" style="width:100%">
    <thead>
      <tr>
        <th>year</th>
        <th>wikipedia page</th>
        <th>host</th>
        <th>beginning</th>
        <th>ending</th>
        <th>teams</th>
        <th>champions</th>
        <th>second place</th>
        <th>third place</th>
        <th>fourth place</th>
        <th>match count</th>
        <th>goal count</th>
        <th>attendance</th>
        <th>venues</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>year</th>
        <th>wikipedia page</th>
        <th>host</th>
        <th>beginning</th>
        <th>ending</th>
        <th>teams</th>
        <th>champions</th>
        <th>second place</th>
        <th>third place</th>
        <th>fourth place</th>
        <th>match count</th>
        <th>goal count</th>
        <th>attendance</th>
        <th>venues</th>
      </tr>
    </tfoot>
  </table>
</body>

</html>