<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="description" content="This repository contains details about all FIFA World Cups which preceded the moment of its creation (October 2020), including:
   the year that the World Cup was held
   the name of the World Cup's Wikipedia page
   the host country
   the beginning date of the competition
   the end date of the competition
   a number of teams that participated in the competition
   information about the venues (child entity) where matches took place, including venue name, capacity and the city it is located in
   the champions of the Cup
   the runners-up (2nd place)
   the country that won 3rd place
   the country that won 4rd place
   a number of matches played during the competition
   a number of goals scored during the competition
   a number of people who attended the Cup (the audience)">

   <meta name="keywords" content="HTML, CSS, JavaScript">
   <meta name="author" content="Dora Doljanin">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="pages.css" />
   <title>FIFA World Cups Data Repository</title>
</head>

<body>

   <h1 class="a">FIFA WorldCups</h1>

   <h2 class="a">Data set</h2><br>

   <h2 class="a">Download data:</h2>
   <a href="\data\wc.csv" download="FIFAWorldCups.csv"> <button class="button">Download CSV file</button> </a><br>
   <a href="\data\wc.json" download="FIFAWorldCups.json"><button class="button">Download JSON file</button>
   </a><br><br>

   <h2 class="a">View data in a datatable:</h2>
   <a href="\table"><button class="button">View datatable</button> </a><br>
   <div class="div">
      <img src="pic.jpg" class="img1" />
   </div>
</body>

</html>